.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Link lives census/census_1787_v1.2.1/LICENSE_DK
Data/Link lives census/census_1787_v1.2.1/LICENSE_EN
Data/Link lives census/census_1787_v1.2.1/Link-lives Guide v.1.pdf
Data/Link lives census/census_1787_v1.2.1/standardized_sources/census/1787/census.csv
Data/Link lives census/census_1787_v1.2.1/transcribed_sources/census/1787_20190000.csv
Data/Link lives census/census_1801_v1.2.1/LICENSE_DK
Data/Link lives census/census_1801_v1.2.1/LICENSE_EN
Data/Link lives census/census_1801_v1.2.1/Link-lives Guide v.1.pdf
Data/Link lives census/census_1801_v1.2.1/standardized_sources/census/1801/census.csv
Data/Link lives census/census_1801_v1.2.1/transcribed_sources/census/1801_20190000.csv
Data/Link lives census/census_1834_v1.2.1/LICENSE_DK
Data/Link lives census/census_1834_v1.2.1/LICENSE_EN
Data/Link lives census/census_1834_v1.2.1/Link-lives Guide v.1.pdf
Data/Link lives census/census_1834_v1.2.1/standardized_sources/census/1834/census.csv
Data/Link lives census/census_1834_v1.2.1/transcribed_sources/census/1834_20190000.csv
Data/Link lives census/census_1840_v1.2.1/LICENSE_DK
Data/Link lives census/census_1840_v1.2.1/LICENSE_EN
Data/Link lives census/census_1840_v1.2.1/Link-lives Guide v.1.pdf
Data/tmp_census.Rdata
Data/tmp_census_raw.Rdata
Data/LL_hisco_codes_clean.csv
