.Rproj.user
.Rhistory
.RData
.Ruserdata
Data/Link lives census/census_1787_v1.2.1/LICENSE_DK
Data/Link lives census/census_1787_v1.2.1/LICENSE_EN
Data/Link lives census/census_1787_v1.2.1/Link-lives Guide v.1.pdf
Data/Link lives census/census_1787_v1.2.1/standardized_sources/census/1787/census.csv
Data/Link lives census/census_1787_v1.2.1/transcribed_sources/census/1787_20190000.csv
Data/Link lives census/census_1801_v1.2.1/LICENSE_DK
Data/Link lives census/census_1801_v1.2.1/LICENSE_EN
Data/Link lives census/census_1801_v1.2.1/Link-lives Guide v.1.pdf
Data/Link lives census/census_1801_v1.2.1/standardized_sources/census/1801/census.csv
Data/Link lives census/census_1801_v1.2.1/transcribed_sources/census/1801_20190000.csv
Data/Link lives census/census_1834_v1.2.1/LICENSE_DK
Data/Link lives census/census_1834_v1.2.1/LICENSE_EN
Data/Link lives census/census_1834_v1.2.1/Link-lives Guide v.1.pdf
Data/Link lives census/census_1834_v1.2.1/standardized_sources/census/1834/census.csv
Data/Link lives census/census_1834_v1.2.1/transcribed_sources/census/1834_20190000.csv
Data/Link lives census/census_1840_v1.2.1/LICENSE_DK
Data/Link lives census/census_1840_v1.2.1/LICENSE_EN
Data/Link lives census/census_1840_v1.2.1/Link-lives Guide v.1.pdf
Data/tmp_census.Rdata
Data/tmp_census_raw.Rdata
Data/LL_hisco_codes_clean.csv
Data/tmp_census.fst
Data/tmp_census_raw.fst
README.html
README.html
README.html
Data/water-polygons-split-4326.zip
Data/water-polygons-split-4326/README.txt
Data/water-polygons-split-4326/water_polygons.cpg
Data/water-polygons-split-4326/water_polygons.dbf
Data/water-polygons-split-4326/water_polygons.prj
Data/water-polygons-split-4326/water_polygons.shp
Data/water-polygons-split-4326/water_polygons.shx
Data/limfjorden/Limfjorden.dbf
Data/limfjorden/Limfjorden.prj
Data/limfjorden/Limfjorden.qpj
Data/limfjorden/Limfjorden.shp
Data/limfjorden/Limfjorden.shx
README.html
README.html
README.html
README.html
Data/Sound toll database/Data/Placenames/places_source.csv
Data/Sound toll database/Data/Placenames/places_standard.csv
Data/Sound toll database/Data/y1497-1633/belastingen_vroeg.csv
Data/Sound toll database/Data/y1497-1633/ladingen_vroeg.csv
Data/Sound toll database/Data/y1497-1633/belastingen_vroeg.csv
Data/Sound toll database/Data/stro-database_table-fields.xlsx
Data/Sound toll database/Data/y1497-1633/doorvaarten_vroeg.csv
Data/Sound toll database/Data/y1497-1633/images_vroeg.csv
Data/Sound toll database/Data/y1634-1857/belastingen.csv
Data/Sound toll database/Data/y1634-1857/doorvaarten.csv
Data/Sound toll database/Data/y1634-1857/images.csv
Data/Sound toll database/Data/y1634-1857/ladingen.csv
Data/Sound toll database/Documentation of raw database.xlsx
Data/Sound toll database/Source.txt
Data/Tmp_costmats.Rdata
Data/Archeological finds/anlaeg_all_4326.csv
Data/Archeological finds/anlaeg_all_4326_shp/anlaeg_all_4326.dbf
Data/Archeological finds/anlaeg_all_4326_shp/anlaeg_all_4326.prj
Data/Archeological finds/anlaeg_all_4326_shp/anlaeg_all_4326.shp
Data/Archeological finds/anlaeg_all_4326_shp/anlaeg_all_4326.shx
Data/Tmp_arch_samples/Buildings.Rdata
Data/Tmp_arch_samples/Coin findings.Rdata
Data/Tmp_arch_samples/Defensive.Rdata
Data/Tmp_arch_samples/Distress.Rdata
Data/Tmp_arch_samples/Indicators_of_economic_activity.Rdata
Data/Tmp_arch_samples/Not categorized.Rdata
Data/Tmp_arch_samples/Religious.Rdata
Data/Tmp_arch_samples/State_formation.Rdata
Data/Tmp_arch/desktop.ini
230423_Paper.pdf
230423_Paper.Rmd
Data/Tmp_reg_data_arch_samples.Rdata
230423_Paper.aux
230423_Paper.log
230423_Paper.tex
230423_Paper_appendix.pdf
230423_Paper_appendix.Rmd
230423_Paper_appendix.tex
230423_Paper_appendix.log
Data/HISCO_to_check.csv
Data/HISCO_to_check.xlsx
Data/Jordart_200000_Shape/1_læs_mig_j200_shape.docx
Data/Jordart_200000_Shape/1_read_me_j200_shape.doc
Data/Jordart_200000_Shape/geuslogo.tfw
Data/Jordart_200000_Shape/geuslogo.tif
Data/Jordart_200000_Shape/geuslogo.tif.aux.xml
Data/Jordart_200000_Shape/geuslogo.tif.ovr
Data/Jordart_200000_Shape/jordart_200000.dbf
Data/Jordart_200000_Shape/Jordart_200000.lyr
Data/Jordart_200000_Shape/Jordart_200000.mxd
Data/Jordart_200000_Shape/jordart_200000.prj
Data/Jordart_200000_Shape/jordart_200000.qml
Data/Jordart_200000_Shape/jordart_200000.sbn
Data/Jordart_200000_Shape/jordart_200000.sbx
Data/Jordart_200000_Shape/jordart_200000.shp
Data/Jordart_200000_Shape/jordart_200000.shp.xml
Data/Jordart_200000_Shape/jordart_200000.shx
Data/Jordart_200000_Shape/Jordart_200000_legende_Dansk.pdf
Data/Jordart_200000_Shape/Jordart_200000_metadata.xml
Data/Jordart_200000_Shape/Jordart_200000_v2_beskriv.pdf
Data/Jordart_200000_Shape/Kyst_Jordart_200000.dbf
Data/Jordart_200000_Shape/Kyst_Jordart_200000.prj
Data/Jordart_200000_Shape/Kyst_Jordart_200000.sbn
Data/Jordart_200000_Shape/Kyst_Jordart_200000.sbx
Data/Jordart_200000_Shape/Kyst_Jordart_200000.shp
Data/Jordart_200000_Shape/Kyst_Jordart_200000.shp.xml
Data/Jordart_200000_Shape/Kyst_Jordart_200000.shx
Data/Jordart_200000_Shape/Surface_Geology_200000.lyr
Data/Jordart_200000_Shape/Surface_Geology_200000.mxd
Data/Jordart_200000_Shape/Surface_geology_200000.qml
Data/Jordart_200000_Shape/Surface_Geology_200000_legend_english.pdf
Data/Jordart_200000_Shape/Surface_Geology_200000_short_description.pdf
Data/Tmp_soil_grid.Rdata
Data/Tmp_arch_samples_norm/Religious.Rdata
Data/Tmp_arch_samples_norm/Not categorized.Rdata
Data/Tmp_arch_samples_norm/Distress.Rdata
Data/Tmp_arch_samples_norm/Indicators_of_economic_activity.Rdata
Data/Tmp_arch_samples_norm/Buildings.Rdata
Data/Tmp_arch_samples_norm/Coin findings.Rdata
Data/Tmp_arch_samples_norm/Defensive.Rdata
Data/Tmp_arch_samples_norm/State_formation.Rdata
Data/Tmp_reg_data_arch_samples_norm.Rdata
README.html
230423_Paper_clio.pdf
230423_Paper_clio.log
230423_Paper_clio.Rmd
230423_Paper_clio.tex
230423_Abstract_clio.pdf
230423_Abstract_clio.Rmd
230423_Abstract_clio.tex
